body {    
    background-image: url("../growingportfolio/contactbkgd.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom: 100px;
}

   .navbar-text.navbar-center {
    position:absolute;
    left: 50%;
    transform: translatex(-50%);
}

.collapse.navbar-collapse.navbar-right {
    position:absolute;
    right:1%;
}

@media screen and (max-width: 600px){
    body{
    width:100%;}
}

.card-text {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    right: 0%;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid lightblue
    
}

